{

 "extends": ["stylelint-config-recommended-scss"],
 
"rules": {
  "selector-class-pattern": "^.[a-z]([a-z0-9-]+)?(__([a-z0-9]+-?)+)?(--([a-z0-9]+-?)+){0,2}$",
  "block-no-empty": true,
  "no-duplicate-selectors": true,
  "selector-max-specificity": "0,2,2",
  "declaration-block-no-duplicate-custom-properties": true,
  "comment-no-empty": true,
  "selector-max-id": 0,
  "selector-max-compound-selectors": 3, 
  "max-nesting-depth": 3, 
  "declaration-block-single-line-max-declarations": 1, 
  "color-no-invalid-hex": true,
  "font-family-no-missing-generic-family-keyword": true
 }

}