<div class="cabecera">
    <div class="cabecera__logo">
      <picture>
      <!-- <source srcset="./assets/images/logo.png?as=webp&width=350" type="image/webp" />-->
        <a href="/src/index.html"><img class="cabecera__logo-img" src="./assets/images/logo.png" alt="Logo concurso"/></a>
      </picture>
    </div>
    <div class="cabecera__menu">
      <ul class="cabecera__lista">
        <li><a href="/src/participantes.html">Participantes</a></li>
        <li><a href="/src/informacion.html">Información</a></li>
        <li><a href="/src/formulario.html">Formulario</a></li>
      </ul>
    </div>
  </div>