<footer class="concurso-footer">
    <div class="footer__logo">
        <picture>
            <a href="/src/index.html"><img class="footer__logo-img" src="./assets/images/logo.png" alt="Logo concurso"/></a>
        </picture>
    </div>
    <div class="footer__paginas">
        <ul class="footer__paginas-lista">
            <li><a href="/src/participantes.html">Participantes</a></li>
            <li><a href="/src/informacion.html">Información</a></li>
            <li><a href="/src/formulario.html">Formulario</a></li>
        </ul>
    </div>
    <div class="footer__rrss">
        <ul class="footer__rrss-lista">
			<li><a href="#"><img src="./assets/images/google.png" alt="Google"></a></li>
            <li><a href="#"><img src="./assets/images/facebook.png" alt="Facebook"></a></li>
            <li><a href="#"><img src="./assets/images/twitter.png" alt="Twitter"></a></li>         
        </ul>
    </div>
</footer>